{% extends 'manager_template/base_template.html' %}
{% block page_title %}Import Check In Simplicity{% endblock %}

{% block main_content %}
<section class="content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-6">

        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
        <p>**<strong>Note</strong>: You have to <strong>format</strong> the document first by <strong>Rename</strong> the 2nd "Name" column to "Student Name", you don't have to drop/delete any columns</p>
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Upload CSV / Excel</h3>
          </div>

          <form method="post"
                enctype="multipart/form-data"
                action="/import_checkin_simplicity/">

            {% csrf_token %}
            <div class="card-body">

              <div class="form-group">
                <label for="id_file">
                  Select file <small class="text-muted">(CSV or .xlsx)</small>
                </label>
                <input type="file"
                       name="file"
                       id="id_file"
                       class="form-control-file"
                       accept=".csv,.xlsx"
                       required>
                <small class="form-text text-muted">
                  Your file must have these headers (exactly):<br>
                  <code>
                    Student ID, Time Recorded, Event Type,<br>
                    Name, Location, Counselor
                  </code>
                </small>
              </div>

            </div><!-- /.card-body -->

            <div class="card-footer text-right">
              <button type="submit" class="btn btn-primary">
                Upload and Parse
              </button>
            </div>
          </form>

        </div><!-- /.card -->

      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
{% endblock %}
